.bounce-1{
    animation: bounce-1 3s linear alternate infinite;
}

/* Keyframe */
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(15px); }
    100% { transform: translateY(0); }
}

/* Media */
