.mainDivAddStudent{
    background-color: rgba(226, 231, 231, 0.808);
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}
.formSubmitBtn{
    background-color: #041C32;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.8s;
}
.formSubmitBtn:hover{
    background-color: white;
    color: #041C32;
    border-color: #041C32;
}