.sideBar{
    overflow-y: auto;
    top: 0%;
    bottom: 0%;
    width: 100%;
    max-height: 100vh;
    padding: 15px 5px;
    margin-top: 7px;
    max-height: 100vh;
    background-color: rgba(185, 166, 166, 0.329);
    border-radius: 5px;
}
.roleTitle{
    color:white;
}
.profilePic img{
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 50%;
}
.logoutBtn{
    padding: 5px 15px;
    background-color: #630000;
    color: white;
    border: transparent;
    border-radius: 3px;
    font-family: monospace;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.8s;
    width: 100%;
}
.logoutBtn:hover{
    background-color: #9b3535;
    color: rgb(196, 193, 193);
    transform: scaleY(1.1);
}